:root {
  font-family: "Raleway", sans-serif;
}
.weather-header {
  background-color: #759eda;
  height: 70px;
  padding: auto;
}
button {
  background-color: #5979c7;
  margin-left: 50px;
  width: 150px;
  height: 40px;
  border: 0px;
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 5px;
}
input {
  color: white;
  font-size: 1rem;
  margin: 12px;
  background-color: transparent;
  border: 0px;
  height: 30px;
}
input::placeholder {
  color: white;
}
.weather-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.live-weather {
  margin: auto;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body {
  margin: 0px;
  background-color: #9ccef4;
}
.real-weather,
.full-day-weather {
  display: block;
}
.real-weather {
  width: 50%;
  height: 10%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.full-day-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 60px auto;
  width: 85%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.full-day-weather img {
  width: 120px;
  height: auto;
  margin: 30px 0px;
}
.real-weather img {
  width: 200px;
}
.weather-status {
  color: white;
  font-size: 1.4rem;
}
.temperature {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.humidity,
.pressure {
  font-size: 1.3rem;
}
b,
span {
  margin-right: 15px;
}

@media only screen and (max-width: 992px) {
  .full-day-weather {
    width: 100%;
    margin: 40px auto;
  }
  
  .real-weather img {
    width: 170px;
  }

  .full-day-weather img {
    width: 100px;
  }
  .weather-status {
    font-size: 1.1rem;
  }
  .temperature {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  .humidity,
  .pressure {
    font-size: 1rem;
  }

  b,
  span {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .full-day-weather {
    width: 100%;
    margin: 30px auto;
  }
  

  .full-day-weather img {
    width: 70px;
  }
  .weather-status {
    font-size: 1rem;
  }

  b,
  span {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .full-day-weather {
    width: 100%;
  }
  

  .full-day-weather img {
    width: 40px;
  }
  .weather-status {
    font-size: 1rem;
  }

  b,
  span {
    margin-right: 10px;
  }
  button {
    font-size: 0.9rem;
    margin-left: 0px;
  }
  input {
    font-size: 0.9rem;
  }
}
